/* Estilos generales del encabezado */
header {
  background-color: #3498db; /* Fondo azul */
  color: #fff; /* Texto blanco */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.logo {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12; /* Texto amarillo al pasar el mouse */
}

.btn-login {
  background-color: #f39c12; /* Fondo amarillo */
  color: #333; /* Texto gris oscuro */
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #3498db; /* Fondo azul al pasar el mouse */
  color: #333; /* Texto gris oscuro */
}

.company-name {
  margin-left: 10px;
  font-size: 18px;
  color: #ffffff;
}
