<app-menu></app-menu>
<div class="container spacing-left spacing-top col-9 ps-5">
    <h1 class="card-header">PROGRAMA DE ESTUDIOS</h1>
    <div class="card">
        <div class="card-body">
            <div>
                <div class="mb-3 row">
                    <div class="col-sm-4 mb-4">
                        <input class="form-control" type="text" [(ngModel)]="filtro"
                            placeholder="Buscar por descripción...">
                    </div>
                    <div class="col-sm-4 mb-4">
                        <select name="statusFilter" class="form-control" [(ngModel)]="statusFilter"
                            (change)="filterResults()">
                            <option value="">Todos los registros</option>
                            <option value="A">Activos</option>
                            <option value="I">Inactivos</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" routerLink="/programme-study/agregar" class="btn btn-primary mb-4">Agregar
                            Programme-Study</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" routerLink="/programme-study/inactivos" class="btn btn-primary mb-4">Listar
                            Inactivos</button>
                    </div>
                </div>
                <div class="descomprimir">
                    <button class="csv" (click)="exportToCSV()">Exportar a CSV</button>
                    <button class="excel" (click)="exportToExcel()">Exportar a Excel</button>
                    <button class="pdf" (click)="exportToPDF()">Exportar a PDF</button>
                </div>
            </div>
        </div>
        <div class="letra">
            <div class="card" id="divResultado">
                <div class="card-header">Resultado</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Programa de Estudio</th>
                                <th>Módulo</th>
                                <th>Nivel de formación</th>
                                <th>Plan de estudio</th>
                                <th>Créditos</th>
                                <th>Horas</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let programmeStudy of programmeStudies">
                                <td>{{ programmeStudy.name }}</td>
                                <td>{{ programmeStudy.module }}</td>
                                <td>{{ programmeStudy.trainingLevel }}</td>
                                <td>{{ programmeStudy.studyPlanType }}</td>
                                <td>{{ programmeStudy.credits }}</td>
                                <td>{{ programmeStudy.hours }}</td>
                                <td>{{ programmeStudy.status }}</td>
                                <td>
                                    <button (click)="updateProgramme(programmeStudy)" class="btn btn-warning me-2"><i
                                            class="bi bi-pencil"></i> Editar</button>
                                    <button (click)="deleteProgramme(programmeStudy)" class="btn btn-danger"><i
                                            class="bi bi-trash"></i> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
