<!--Directora-->

<section id="directora">
  <div class="container">
      <h2>Nuestra Directora</h2>
      <div class="director-profile">
          <img src="assets/imgs/team-2.jpg" alt="Directora">
          <div class="director-info">
              <h3>Ester Lopez</h3>
              <p>Comprometida con el crecimiento del Cetpro, y la mejora continua.</p>
          </div>
      </div>
  </div>
</section>

<!-- Nosotros -->
<section id="nosotros" class="bg-gray-100 py-12">
  <div class="container flex flex-col md:flex-row items-center justify-between">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
          <div class="content">
              <h2 class="text-3xl font-semibold text-gray-900 mb-4">Sobre Nosotros</h2>
              <p class="text-lg text-gray-700 mb-6">Somos una institución dedicada a brindar educación
                  técnico-productiva de
                  calidad a nuestros estudiantes.</p>
              <p class="text-lg text-gray-700">Nuestro objetivo es preparar a los jóvenes para enfrentar los desafíos
                  del
                  mundo laboral y contribuir al desarrollo de la sociedad.</p>
          </div>
      </div>
      <div class="w-full md:w-1/2">
          <div class="image">
              <img src="assets/imgs/galery1.jpg" alt="Imagen sobre Nosotros" class="rounded-md shadow-md">
          </div>
      </div>
  </div>
</section>

<!-- Servicios -->
<section id="servicios" class="bg-white dark:bg-gray-900 py-12">
  <div class="container py-8 px-4 mx-auto max-w-screen-xl md:grid md:grid-cols-2 lg:px-6">
      <h2 class="text-3xl font-semibold text-gray-900 mb-4">Nuestros Programas</h2>

      <!-- Primer servicio: Operaciones de Producción de Alimentos y Bebidas -->
      <div class="service-container mb-10 flex items-start">
          <div class="ml-4 flex-shrink-0">
              <img src="assets/imgs/galery2.png" alt="Operaciones de Producción de Alimentos y Bebidas"
                  class="w-32 h-32 object-cover rounded-full">
          </div>
          <div class="ml-4">
              <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Operaciones de Producción de
                  Alimentos y
                  Bebidas</h3>
              <p class="mb-4 text-base text-gray-500 dark:text-gray-400">Este taller se centra en el aprendizaje de
                  habilidades.</p>
              <a href="https://www.uma.es/media/files/POWER_Curso_Cazar_moscas_nov20.pptx"
                  class="inline-block px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Ver
                  más >></a>
          </div>
      </div>

      <!-- Segundo servicio: Peluquería y Barbería -->
      <div class="service-container mb-10 flex items-start">
          <div class="ml-4 flex-shrink-0">
              <img src="assets/imgs/galery0.png" alt="Peluquería y Barbería"
                  class="w-32 h-32 object-cover rounded-full">
          </div>
          <div class="ml-4">
              <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Peluquería y Barbería</h3>
              <p class="mb-4 text-base text-gray-500 dark:text-gray-400">Este taller se centra en el aprendizaje de
                  habilidades.</p>
              <a href="https://www.uma.es/media/files/POWER_Curso_Cazar_moscas_nov20.pptx"
                  class="inline-block px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Ver
                  más >></a>
          </div>
      </div>

      <!-- Tercer servicio: Soporte Técnico y Operaciones de Centro de Cómputo -->
      <div class="service-container mb-10 flex items-start">
          <div class="ml-4 flex-shrink-0">
              <img src="assets/imgs/galery3.png" alt="Soporte Técnico y Operaciones de Centro de Cómputo"
                  class="w-32 h-32 object-cover rounded-full">
          </div>
          <div class="ml-4">
              <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Soporte Técnico y Operaciones de
                  Centro de
                  Cómputo</h3>
              <p class="mb-4 text-base text-gray-500 dark:text-gray-400">Este taller se centra en el aprendizaje de
                  habilidades.</p>
              <a href="https://www.uma.es/media/files/POWER_Curso_Cazar_moscas_nov20.pptx"
                  class="inline-block px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Ver
                  más >></a>
          </div>
      </div>

      <!-- Agregar más servicios aquí -->

  </div>
</section>

<!-- Misión y Visión -->
<section id="mision-vision">
  <div class="container flex flex-col md:flex-row items-center justify-between">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
          <div class="content">
              <h2 class="text-3xl font-semibold text-gray-900 mb-4">Misión y Visión</h2>
              <p class="text-lg text-gray-700 mb-6">Nuestra misión es proporcionar educación técnico-productiva de
                  calidad y
                  preparar a nuestros estudiantes para enfrentar los desafíos del mundo laboral.</p>
              <p class="text-lg text-gray-700">Nuestra visión es ser reconocidos como una institución líder en la
                  formación de
                  profesionales técnicos altamente capacitados y comprometidos con el desarrollo social y económico de
                  nuestra
                  comunidad.</p>
          </div>
      </div>
      <div class="w-full md:w-1/2">
          <div class="image">
              <img src="assets/imgs/image 23.jpg" alt="Imagen de Misión y Visión" class="rounded-md shadow-md">
          </div>
      </div>
  </div>
</section>

<!-- Sección de Nuestra Galería -->
<section id="galeria" class="py-12">
  <div class="container">
      <h2 class="text-3xl font-semibold text-gray-900 mb-8 bg-blue-500 text-white p-4 rounded-md">Nuestra Galería</h2>

      <!-- Contenedor de la Galería -->
      <div class="gallery-container">
          <!-- Imagen 1 -->
          <div class="gallery-item">
              <img src="assets/imgs/galery2.png" alt="" class="rounded-md shadow-md">
          </div>

          <!-- Imagen 2 -->
          <div class="gallery-item">
              <img src="assets/imgs/blog-1.jpg" alt="Imagen de la galería">
          </div>

          <!-- Imagen 3 -->
          <div class="gallery-item">
              <img src="assets/imgs/galery3.png" alt="Imagen de la galería">
          </div>

          <!-- Agrega más imágenes aquí -->
      </div>
  </div>
</section>


<!--Testimonios-->
<section id="testimonios" class="py-12">
  <div class="container">
      <h2 class="text-3xl font-semibold text-gray-900 mb-8">Testimonios de nuestros estudiantes</h2>

      <!-- Testimonio 1 -->
      <div class="testimonio">
          <div class="testimonio-imagen">
              <img src="assets/imgs/team.jpg" alt="Foto de Juan Pérez">
          </div>
          <div class="testimonio-contenido">
              <blockquote class="cita-destacada">
                  "¡La formación en programación que recibí en el CETPRO me preparó para un futuro prometedor en la
                  industria
                  tecnológica!"
              </blockquote>
              <p class="nombre-estudiante">Juan Pérez</p>
              <div class="calificacion">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
          </div>
      </div>

      <!-- Testimonio 2 -->
      <div class="testimonio">
          <div class="testimonio-imagen">
              <img src="assets/imgs/team-2.jpg" alt="Foto de María Gómez">
          </div>
          <div class="testimonio-contenido">
              <blockquote class="cita-destacada">
                  "Gracias al CETPRO, ahora soy un experto en electricidad industrial y tengo un empleo estable y bien
                  remunerado."
              </blockquote>
              <p class="nombre-estudiante">María Gómez</p>
              <div class="calificacion">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
          </div>
      </div>

      <!-- Testimonio 3 -->
      <div class="testimonio">
          <div class="testimonio-imagen">
              <img src="assets/imgs/team-3.jpg" alt="Foto de Luis Rodríguez">
          </div>
          <div class="testimonio-contenido">
              <blockquote class="cita-destacada">
                  "Estudiar carpintería en el CETPRO fue la mejor decisión que he tomado. Ahora tengo mi propio taller
                  y
                  clientes satisfechos."
              </blockquote>
              <p class="nombre-estudiante">Luis Rodríguez</p>
              <div class="calificacion">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
          </div>
      </div>

  </div>
</section>



<!--Nuestros provedores-->
<section id="proveedores" class="bg-light py-5">
  <div class="container">
      <h2 class="text-center mb-4">Nuestros Proveedores</h2>
      <div class="row">
          <div class="col-md-4 mb-4">
              <div class="card h-100 shadow">
                  <img src="assets/imgs/vendor-4.jpg" class="card-img-top" alt="Proveedor 1">
                  <div class="card-body">
                      <h5 class="card-title">Sound Wave</h5>
                      <p class="card-text">Descripción breve sobre el proveedor y sus productos/servicios.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card h-100 shadow">
                  <img src="assets/imgs/vendor-5.jpg" class="card-img-top" alt="Proveedor 2">
                  <div class="card-body">
                      <h5 class="card-title">SAMPLE COMPANY2</h5>
                      <p class="card-text">Descripción breve sobre el proveedor y sus productos/servicios.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card h-100 shadow">
                  <img src="assets/imgs/vendor-8.jpg" class="card-img-top" alt="Proveedor 3">
                  <div class="card-body">
                      <h5 class="card-title">FRUITY PLEBES 3</h5>
                      <p class="card-text">Descripción breve sobre el proveedor y sus productos/servicios.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!--Pie de pagina-->
<footer class="footer">
  <div class="footer-container">
      <div class="footer-section about">
          <h2>Sobre Nosotros</h2>
          <p>Somos una CETPRO dedicado a ofrecer las mejores soluciones tecnológicas para tu negocio.</p>
      </div>
      <div class="footer-section links">
          <h2>Enlaces Rápidos</h2>
          <ul>
              <li><a href="#home">Inicio</a></li>
              <li><a href="#services">Servicios</a></li>
              <li><a href="#contact">Contacto</a></li>
              <li><a href="#privacy">Política de Privacidad</a></li>
          </ul>
      </div>
      <div class="footer-section contact">
          <h2>Contacto</h2>
          <ul>
              <li>Email: contacto@misitioweb.com</li>
              <li>Teléfono: +123 456 7890</li>
              <li>Dirección: Calle Falsa 123, Ciudad, País</li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2024 Team 02 - Valle Grande. Todos los derechos reservados.</p>
      <p>Desarrollado por <a href="tel:+954126630">Valery Chumpitaz </a></p>
  </div>
</footer>
